@use "../utilities/variables" as *;

main {
  padding: 0;

  section {
    margin-bottom: 4rem;
  }

  h1 {
    margin-top: 0;
  }

  h2 {
    margin-top: 3rem;
  }

  h3 {
    color: $color-secundario;
  }
}
