@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.disciplina-card {
  border: none;
  border-radius: $radio-borde;
  overflow: hidden;
  transition: $transicion-base;

  img {
    height: 220px;
    object-fit: cover;
  }

  .card-body {
    text-align: center;
  }

  &:hover {
    transform: translateY(-5px);
  }
}

@include mobile {
  .disciplina-card {
    margin-bottom: 1.5rem;
  }
}
